{% extends 'simplelogin/base.html' %}
{% block content %}
    
    {% load staticfiles %}
            <!-- Body -->
            <div class="row">

                <!-- Add Contact -->
                <div class="col-md-4">
                    {% include 'simplelogin/add_contact.html' %}
                </div>

                <!-- Data loading -->
                <div class="col-md-8">
                    <div class="jumbotron" style="background-color:#99ddff;">        
                        <div class="row">
                            {% if object_list %}
                            {% for contact_details in object_list %}
                            <div class="col-md-3" style="padding-bottom: 3%;">
                                <div class="img-thumbnail" style="overflow: hidden;">
                                    {% if contact_details.contact_image %}
                                    <img src="{{contact_details.contact_image.url}}" class="img-thumbnail" style="height:128px;width:128px;">
                                    {% else %}
                                    <img src= {% static "simplelogin/img/default_user.png" %} class="img-thumbnail" style="height:128px;width:128px;">
                                    {% endif %}

                                    <div class="caption text-center">
                                        <div style="padding:5px 0px;"></div>
                                        <a>{{ contact_details.contact_name}}</a>
                                        <h4>{{contact_details.contact_number}}</h4>
                                    </div>

                                    <div class="caption text-center">
                                    
                                    <div class="row">

                                        {% for item in mobile_number_list %}
                                        {% if contact_details.contact_number == item.mobile_number %}

                                        <div class="col-md-4" style="padding-right:0;">
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#send_message_by_number{{contact_details.id}}" ><span class="glyphicon glyphicon-send"></span></button>
                                            {% include 'simplelogin/send_message_by_number.html' %}
                                                
                                        </div>

                                        {% endif %}
                                        {% endfor %}

                                        <div class="col-md-4" style="padding:0;">
                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit_contact_data{{contact_details.id}}" ><span class="glyphicon glyphicon-pencil"></span></button>    
                                            {% include 'simplelogin/modal_edit_contact.html' %}
                                        </div>

                                        <div class="col-md-4" style="padding-left:0;">
                                            <form method="post" action="/simplelogin/delete_contact/" >
                                                {% csrf_token %}
                                                <input name="id_contact" value="{{contact_details.id}}"class="hide">
                                                <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button>                        
                                            </form>
                                        </div>

                                        <div style="padding:10px 0px;"></div>
                                    </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                            {% else %}
                                <h3>No contacts saved</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}