{% load staticfiles %}
                     <!--Modal Form-->
<div id='edit_contact_data{{contact_details.id}}' class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--Modal content-->
            <div class="modal-content">                        
                
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="modal-title">Contact Details</h3>
                </div>                      
            
            <div class="modal-body">
                <form method="POST" action="/simplelogin/edit_contact/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        
                        <div class="col-md-6">
                            
                            {% if contact_details.contact_image %}
                            
                            <img id="contact_image_preview_output_{{contact_details.id}}" src="{{contact_details.contact_image.url}}" class="img-thumbnail" style="height:128px;width:128px;">
                            
                            {% else %}
                            
                            <img id="contact_image_preview_output_{{contact_details.id}}" src= {% static "simplelogin/img/default_user.png" %} class="img-thumbnail" style="height:128px;width:128px;">
                            
                            {% endif %}

                            <input type="file" name="contact_image" id="contact_imageUpload_{{contact_details.id}}" accept="image/*" onchange="document.getElementById('contact_image_preview_output_{{contact_details.id}}').src = window.URL.createObjectURL(this.files[0])"  class="hide">
                            
                            <label for="contact_imageUpload_{{contact_details.id}}" class="btn btn-primary glyphicon glyphicon-folder-open"></label>

                        </div>
                        
                        <div class="col-md-6">
                            <input name="id_contact" value="{{contact_details.id}}" class="hide">
                            <input class="form-control" type="text" name="contact_name" placeholder="{{contact_details.contact_name}}" value="{{contact_details.contact_name}}"><br>
                            <input class="form-control" type="text" name="contact_number" placeholder="{{contact_details.contact_number}}" value="{{contact_details.contact_number}}"><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="btn btn-success" type="submit" value="save"><br>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>          
                                </div>
                            </div>
                        </div>
                         
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                            <!--Modal form end-->