{% extends 'simplelogin/base.html' %}
{% block content %}
	<div class="container">
		<div class ="row">
			<div class="jumbotron col-md-6 col-md-offset-3" style="background-color:#99ddff">
			<form action="/simplelogin/edit_user_profile/" method="POST"  >	
				{% csrf_token %}

				<input name="id_userprofile" value="{{user.userprofile.id}}" class="hide">
                                                
				<div class="col-md-4">First Name :</div>
				<div class="col-md-8">
					<input class="form-control" type="text" name="first_name"  value="{{user.userprofile.first_name}}" disabled="disabled" id="UserProfile_first_name"><br>
				</div>

				<div class="col-md-4">Last name :</div>
				<div class="col-md-8">
					<input class="form-control" type="text" name="last_name"  value="{{user.userprofile.last_name}}" disabled="disabled" id="UserProfile_last_name"><br>
				</div>
				<div class="col-md-4">Email :</div>
				<div class="col-md-8">
					<input class="form-control" type="text" name="email" value="{{user.userprofile.email}}" disabled="disabled" id="UserProfile_email"><br>
				</div>
				
				<div class="col-md-4">Mobile Number :</div>
				<div class="col-md-8">
					<input class="form-control" type="text" name="mobile_number" value="{{user.userprofile.mobile_number}}" disabled="disabled" id="UserProfile_mobile_number"><br>
				</div>

				<div class="col-md-2 col-md-offset-4">
                    <input class="btn btn-success" type="submit" value="save" disabled="disabled" id="UserProfile_save">
                </div>

                <div class="col-md-2">
                	<input type="button"  class="btn btn-warning" id="edit_btn" value="edit"/>
                </div>
                <div class="col-md-2">
                	<a class="btn btn-default" disabled="disabled" id="cancel_btn" href="/simplelogin/user_profile/" >Cancel</a>
                </div>
			<form>                 
		</div>
	</div>
</div>

<script>
	$("#edit_btn").click(function(){
		$("#UserProfile_first_name").attr('disabled', !$("#UserProfile_first_name").attr('disabled'));
		$("#UserProfile_last_name").attr('disabled', !$("#UserProfile_last_name").attr('disabled'));
		$("#UserProfile_email").attr('disabled', !$("#UserProfile_email").attr('disabled'));
		$("#UserProfile_mobile_number").attr('disabled', !$("#UserProfile_mobile_number").attr('disabled'));
		$("#UserProfile_save").attr('disabled', !$("#UserProfile_save").attr('disabled'));
		$("#edit_btn").attr('disabled', !$("#edit_btn").attr('disabled'));
		$("#cancel_btn").attr('disabled', !$("#cancel_btn").attr('disabled'));

});
</script>

{% endblock %}